*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Racing Sans One', sans-serif;
}


.bg-damier{
    background: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-gris{
    background: #111;
}

.navbar{
    position:fixed;
    top:20px;
    left:55%;
    transform:translateX(-50%);
    width:75%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:5px 30px;
    
    background: white;
    box-shadow: 0 10px 35px rgba(0,0,0,1);

    z-index:1001;
}


.navbar::before,
.navbar::after{
    content:"";
    position:absolute;
    top:0;
    width:45px;
    height:100%;
    background: white;
    
    backdrop-filter:blur(8px);
    z-index:999;
}

.navbar::before{
    left:-20px;
    transform:skewX(-35deg);
}

.navbar::after{
    right:-20px;
    transform:skewX(-35deg);
}

.logo img{
    height:35px;
}

.menu{
    display:flex;
    list-style:none;
    gap:40px;
    padding:0;
    margin:0;
}

.menu a{
    text-decoration:none;
    color:#111;
    position:relative;
    font-size:18px;
}

/* ligne noire au hover */

.menu a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    width:0%;
    height:2px;
    background:#111;
    transition:0.3s;
}

.menu a:hover::after{
    width:100%;
}

.menu a.active::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    width:100%;
    height:2px;
    background:#111;
}

/* profil */
.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile-link{
    display:flex;
    align-items:center;
}

.profile img{
    height:30px;
    border-radius:50%;
    display:block;
}
a{
    text-decoration:none !important;
    color:#111;
    display:flex;
    align-items:center;
    
}
#userName{
    text-decoration:none !important;
    font-size:16px;
    color:#111;
    line-height:1;
}



.hero{
    min-height: 110vh;
    padding: 70px;
    background: url("../img/bg_damier_clair.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero img{
    margin-top: 110px;
    width:50%;
}
.hero h1{
    text-align: left;
    font-size:30px;
    font-weight: 400;
    margin-right: 200px;
    color: #ffd900;
}

.jouer{
    min-height: 110vh;
    background: url("../img/bg_damier_sombre.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    text-align: center;
    align-content: center;
}
.jouer-contenaire{
    width: 60%;
    padding: 70px 50px;
    justify-self: right;
}
.jouer h2{
    text-align:center;
    font-size:38px;
    color: white;
    margin-bottom:60px;
    
    font-weight: 300;
}
.jouer p{
    text-align:center;
    font-size:18px; 
    padding: 0 20px;
    margin-bottom:30px;
    color: white;
}

.jouer-actions{
    margin-top:25px;
}

.btn{
    padding:12px 25px;
    margin:10px;
    background:white;
    color:black;
    text-decoration:none;
}

.projet{
    min-height: 110vh;
    padding: 70px;
    background: url("../img/bg_damier_sombre.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.projet h2{
    text-align:center;
    font-size:38px;
    color: white;
    margin-bottom:60px;
    
    font-weight: 300;
}
.jouer p{
    text-align:center;
    font-size:18px; 
    padding: 0 20px;
    margin-bottom:30px;
    color: white;
}

.repo-link{
    display:inline-block;
    margin-top:20px;
    color:white;
}

.footer{
    margin-top:150px;
    padding:30px;
    text-align:center;
    background: url("../img/bg2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}





/* Connexion */
.section-form{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin: 20px 0;
}
.form-container{
    background:white;
    padding:30px;
    border-radius:8px;
    width:320px;
    box-shadow: 0 10px 30px rgba(0,0,0,1);
    backdrop-filter:blur(8px);
}

.form-container h2{
    text-align:center;
    margin-bottom:25px;
}

.input-group{
    margin-bottom:15px;
}

label{
    display:block;
    margin-bottom:5px;
}

input{
    width:100%;
    padding:8px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:10px;
    background:#111;
    color:white;
    border:none;
    cursor:pointer;
}

.link{
    text-align:center;
    margin-top:15px;
}

.link a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}




/* règles  */

.regles{
    width:60%;
    margin:120px auto;
}

/* titre principal */

.regles h1{
    text-align:center;
    font-size:48px;
    color: white;
    margin-bottom:60px;
    letter-spacing:2px;
}

/* carte règle */

.rule{
    position:relative;

    background:white;
    color:#111;

    padding:25px 60px;
    margin-bottom:30px;
    box-shadow: 0 10px 30px rgba(0,0,0,1);
    backdrop-filter:blur(8px);

    transition:0.3s;
}


/* diagonales */

.rule::before,
.rule::after{
    content:"";
    position:absolute;
    top:0;
    width:60px;
    height:100%;
    background:white;
}

.rule::before{
    left:-30px;
    transform:skewX(-20deg);
}

.rule::after{
    right:-30px;
    transform:skewX(-20deg);
}

/* hover */

.rule:hover{
    transform:translateX(10px);
}

/* titre règle */

.rule h2{
    font-size:22px;
    color:#111;
    font-weight: 300;
    margin-bottom:10px;
}

/* texte */

.rule p{
    font-size:16px;
    line-height:1.6;
    color:#333;
}
